PGUSER=postgres
PGHOST=localhost
PGDATABASE=ledger
PGPASSWORD=
PGPORT=5432
PORT=8000


# Replace the above PG* variables with this line during deployment.
# DATABASE_URL=postgres://user:password@host:5432/dbname?sslmode=verify-full