PGUSER=postgres
PGHOST=localhost
PGDATABASE=ledger
PGPASSWORD=
PGPORT=5432
PORT=8000
APP_TIME_ZONE=America/Los_Angeles
# use node -e "console.log(require('crypto').randomBytes(32).toString('hex'))" to generate a new SESSION_SECRET.
SESSION_SECRET=
# Replace the above PG* variables with this line during deployment.
# DATABASE_URL=postgres://user:password@host:5432/dbname?sslmode=verify-full